{% extends 'base.html' %}
{% load static %}
{% block cta %}

<div class="container hero">
  <div class="row">
      <div class="col-12 col-lg-6 col-xl-5 offset-xl-1">
          <h1>Exceptional Medical Care for All Ages.</h1>
          <p> At our Medical Center
              we combine world class medicine
              with compassionate care. </p>
              <a href="{% url 'appointment' %}" class="btn btn-light btn-lg action-button" type="button">Book an appointment</a>
      </div>

  </div>
</div>

{% endblock cta %}

{% block content %}
<section class="container py-5"  style="margin-block:200px;" id="team">
    <div class="row text-center ">
        <div class="col-lg-8 mx-auto">
            <h1 class="display-4">Our Team</h1>
            <p class="lead">Rely on established and competent professionals.
            </p>
        </div>
    </div>

    <div class="container">
        <div class="row text-center">
            <!-- Team item -->
             
            <div class="col-xl-3 col-sm-6 mb-5" id="Gynecologist">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static 'img/jain doctor.jpeg' %}" alt="" class=" mh-100img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Dr jain</h5>
                    <span class="small text-uppercase text-muted">MBBS</span>
                    <br>
                    <span class="small text-uppercase text-muted">02071173194</span>
                    <br>
                    <span class="small text-uppercase text-muted">9 Shop, Sharadda C H S. Limited Ground Floor, Ganesh Nagar Lane, Lalbaug., Landmark: Near Girnar Tower., Mumbai
                    </span>
                </div>
            </div><!-- End -->
            

            <!-- Team item -->
            <div class="col-xl-3 col-sm-6 mb-5" id="cardiotherapy">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static 'img/machiswala.jpeg' %}" alt="" class=" mh-100 rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Dr machiswala</h5>
                    <span class="small text-uppercase text-muted">M.D</span>
                    <br>
                    <span class="small text-uppercase text-muted">02048553258</span>
                    <br>
                    <span class="small text-uppercase text-muted">Dr E Moses Road, Mumbai</span>

                </div>
            </div><!-- End -->

            <!-- Team item -->
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static 'img/dr fahad merchant.png' %}" alt="" class=" mh-100img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Dr fahad merchant</h5>
                    <span class="small text-uppercase text-muted">Heart specialist</span>
                    <br>
                    <span class="small text-uppercase text-muted">02071178179</span>
                    <br>
                    <span class="small text-uppercase text-muted">Afzal Co op society,C wing shop number 2, Opp Maratha mandir cinema, Landmark: Opposite Nair Hospital & Next to General Chemist, Mumbai</span>

                  </div>
            </div><!-- End -->

            <!-- Team item -->
            <div class="col-xl-3 col-sm-6 mb-5">
              <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static 'img/Dr jatin ashar.jpg' %}" alt="" class=" mh-100img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                  <h5 class="mb-0">Dr jatin ashar</h5>
                  <span class="small text-uppercase text-muted">Ophthalmologist/ Eye Surgeon</span>
                  <br>
                  <span class="small text-uppercase text-muted">08037298995</span>
                  <br>
                  <span class="small text-uppercase text-muted">Ground floor, C wing, Raheja Nest, Chandivali, Landmark: Landmark: c/o Tooth Smith, Mumbai, Mumbai, Landmark: c/o Tooth Smith, Mumbai</span>

              </div>
          </div><!-- End -->

            
            <!-- Team item -->
            <div class="col-xl-3 col-sm-6 mb-5">
              <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static 'img/has.jpg' %}" alt="" class=" mh-100img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                  <h5 class="mb-0">haseeb doctor</h5>
                  <span class="small text-uppercase text-muted">homeopatic</span>
                  <br>
                  <span class="small text-uppercase text-muted">9821792845</span>
                  <br>
                  <span class="small text-uppercase text-muted"> 2, Ganesh Hari Parundekar Rd, Municipal Colony, Dagdi Chowl, Agripada, Mumbai, Maharashtra 400011</span>
              </div>
          </div><!-- End -->
        


        <!-- Team item -->
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static 'img/asgar ali doctor.png' %}" alt="" class=" mh-100img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
              <h5 class="mb-0">asgar ali doctor</h5>
              <span class="small text-uppercase text-muted">unani</span>
              <br>
              <span class="small text-uppercase text-muted">07947432283</span>
              <br>
              <span class="small text-uppercase text-muted">C/O Dr. Shabana Asgar Ali Shaikh`s Clinic, Shop No 3, Bag E Ibrahim, A Wing, Maulana Azad Road, Agripada, Mumbai - 400011 (Near Jhula Maidan)</span>

          </div>
      </div><!-- End -->

              <!-- Team item -->
              <div class="col-xl-3 col-sm-6 mb-5" id="dentist">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static 'img/sameer gojariya.png' %}" alt="" class=" mh-100img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">sameer gojaria</h5>
                    <span class="small text-uppercase text-muted">dentist</span>
                    <br>
                    <span class="small text-uppercase text-muted">07947105027</span>
                    <br>
                    <span class="small text-uppercase text-muted">A K I Trust Building, 59/A Morland Lane, Mumbai Central, Mumbai - 400008</span>
                </div>
            </div><!-- End -->

            <!-- Team item -->
            <div class="col-xl-3 col-sm-6 mb-5" id="childspecialist">
              <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static 'img/dr faizan bhoiras child specialist.png' %}" alt="" class=" mh-100img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                  <h5 class="mb-0">dr faizan bhoiras child</h5>
                  <span class="small text-uppercase text-muted">child specialist</span>
                  <br>
                  <span class="small text-uppercase text-muted">0794743428</span>
                  <br>
                  <span class="small text-uppercase text-muted">Kedy Shopping Arcade, 1st Floor, Shop No 25, Blaises Road, Mumbai Central, Mumbai - 400008 (Nagpada Junction)></span>

              </div>
          </div><!-- End -->

           
    

    </div>
</section><!-- End -->



<section id="services">
  <div class="bg-primary text-center py-5 mb-4">
      <div class="container">
        <h1 class="fw-light text-white">Services</h1>
        <p class="overview">We provide compassionate and expert care to our community. You are at the center of everything we do. Let us be your healthcare partner.</p>
      </div>
    </div>
  <div class="container">
    <div class="row">
      <!-- Team Member 1 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="{% static 'img/service1.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Primary Care</h5>
            <div class="card-text text-black-50">Your personalized medical professionals.</div>
          </div>
        </div>
      </div>
      <!-- Team Member 2 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="{% static 'img/service2.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Dermatology</h5>
            <div class="card-text text-black-50">Your skin care made easy.</div>
          </div>
        </div>
      </div>
      <!-- Team Member 3 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="{% static 'img/service3.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Team Member</h5>
            <div class="card-text text-black-50">dentist</div>
          </div>
        </div>
      </div>
      <!-- Team Member 4 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="{% static 'img/service4.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">PrEP Therapy</h5>
            <div class="card-text text-black-50">Stay safe if you are at high exposure of HIV.</div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
  
  </div>
</section>

<section class="text-center conatiner" style="margin-block:200px;" id="reviews">
    <h2>Satisfied Patients</h2>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Carousel indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>   
        <!-- Wrapper for carousel items -->
        <div class="carousel-inner">		
            <div class="carousel-item active">
                <div class="img-box"><img src="{% static 'img/patient1.jpg' %}" alt=""></div>
                <p class="testimonial">I had a fantastic experience using this website to book my doctor's appointment. The interface was incredibly user-friendly, and I could easily navigate through the available slots to find a time that suited me. The entire process, from selecting my doctor to confirming my appointment, was seamless and quick. Highly recommend this platform!

                  .</p>
                <p class="overview">Saad Badshah</p>
            </div>
            <div class="carousel-item">
                <div class="img-box"><img src="{% static 'img/patient2.jpg' %}" alt=""></div>
                <p class="testimonial">This website made booking a doctor's appointment so convenient. No more long waits on the phone or confusion about availability. The system allows you to see all available time slots and book instantly. I received confirmation right away, and the follow-up reminders were extremely helpful. It really takes the hassle out of scheduling medical appointments!.</p>
                <p class="overview">Muqeet Mirza</p>
            </div>
            <div class="carousel-item">
                <div class="img-box"><img src="{% static 'img/patient3.jpg' %}" alt=""></div>
                <p class="testimonial">This is a game-changer! I loved being able to browse through different doctors and their specialties all in one place. The booking process was quick, and I even had the option to reschedule my appointment without any hassle. Plus, the reminders ensured that I didn't forget about my appointment. Excellent service!.</p>
                <p class="overview">Areeb Khan</p>
                
            </div>		
        </div>

    </div>

</section>




<section id="contact" class="card m-4 p-4">
    <div class="container">
        <div class="row text-center">
          
            <div class="col-sm-6">
            <div class="contact-detail-box">
              <i class="far fa-envelope text-colored fa-3x"></i>
              <h4>Get In Touch</h4>
              <abbr title="Phone">P:</abbr> 9619094058<br>
              E: <a href="mailto:email@email.com" class="text-muted">sulemanansari2004@email.com</a>
            </div>
          </div><!-- end col -->
  
          <div class="col-sm-6">
            <div class="contact-detail-box">
              <i class="fa fa-map-marker fa-3x text-colored"></i>
              <h4>Our Location</h4>
  
              <address>
              909, Orchid Heights Rehab, Next to BMC Parking,<br> 
              Maulana azad road...Saatrasta<br>
            </address>
            </div>
          </div><!-- end col -->
  
  
  
        </div>
        <!-- end row -->
  
  
        <div class="row">
          <div class="col-sm-6">
            <div class="contact-map">
              <iframe src="https://www.google.com/maps/embed/v1/place?q=India+agripada+DB+orchid+heights&amp;key=AIzaSyBSFRN6WWGYwmFi498qXXsD2UwkbmD74v4" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" style="width: 100%; height: 360px;"></iframe>
            </div>
          </div><!-- end col -->
  
          <!-- Contact form -->
          <div class="col-sm-6">
            <form role="form" name="ajax-form" id="ajax-form" method="post" class="form-main" action="{% url 'home' %}">
            {% csrf_token %}
  
              <div class="form-group">
                <label for="name2">Name</label>
                <input class="form-control" id="name2" name="name" type="text" placeholder="name">
                <div class="error" id="err-name" style="display: none;">Please enter name</div>
              </div> <!-- /Form-name -->
  
              <div class="form-group">
                <label for="email2">Email</label>
                <input class="form-control" id="email2" name="email" type="text" placeholder="email">
                <div class="error" id="err-emailvld" style="display: none;">E-mail is not a valid format</div> 
              </div> <!-- /Form-email -->
  
              <div class="form-group">
                <label for="message2">Message</label>
                <textarea class="form-control" id="message2" name="message" rows="5" placeholder="message">Message</textarea>
  
                <div class="error" id="err-message" style="display: none;">Please enter message</div>
              </div> <!-- /col -->
  
              <div class="row">            
                  <button type="submit" class="btn btn-primary btn-shadow btn-rounded w-md" id="send">Send</button>
                </div> <!-- /col -->
              </div> <!-- /row -->
  
            </form> <!-- /form -->
          </div> <!-- end col -->
  
        </div> <!-- end row -->
            
      </div>
</section>


{% endblock content %}
